<body>

<div id="title" class="title">
</div>
<div id="titletext" class="titletext">
<p class="title">Let's play Snakes & Ladders.</p>
</div>

<div id="maintext"; class="maintext">
</div>
<div id="innertext" class="innertext">
<form action="/snakesnladders/game_view" method="POST">    
    <br/>
    How many squares would you like on your board?<br/> <input type="number" name="squares">
    <br/>
    <br/>
    How many Snakes would you like in your game?<br/><br/> <input type="number" name="snakes">
    <br/>
    <br/>
    How many Ladders would you like in your game?<br/><br/> <input type="number" name="ladders">
    <br/>
    <br/>
    Please enter player 1 name.<br/><br/> <input type="text" name="name1">
    <br/>
    <br/>
    Please enter player 2 name.<br/><br/> <input type="text" name="name2">
    <br/>

    <input type="submit">
</form>
</div>



    

</body>



